<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">shopping_cart</i>
        <input id="Nome" type="text" class="validate"
               [(ngModel)]="restaurant.Nome" formControlName="Nome"
               [class.invalid]="form.controls['Nome'].touched && !form.controls['Nome'].valid">
        <label for="Nome"
               [class.active]="restaurant.Nome"
               data-error="Nome deve conter pelo menos 3 characteres">
          Nome
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Enviar</button>
  </form>
</div>
